.custom-hero-background{
    background-image: url("../assets/images/alfiano-sutianto-UjFFguMKeaI-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.custom-hero-background:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.custom-hero-background > header, .custom-hero-background > section {
    position: relative;
    z-index: 2;
}